.page-success {
  .row-login {
    min-width: 75vh;
  }

  .section-success {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    /* identical to box height */

    text-align: center;
    margin-top: 0px;
    color: #0c0d36;
  }

  .btn-signup {
    @include button-variant(#f3f3f3, transparent);
    color: #bbbbbb;
  }
}
